* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#popover-container {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  width: 200px;
}

#popover-container.show {
  display: block;
}

#popover-trigger {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.popover-title {
  padding: 10px;
  background-color: rgb(216, 216, 216);
}

.popover-body {
  padding: 10px;
}